@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Don't Loose Your Marbles</h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <ul id="marbleList"></ul>
    </div>
</div>
<div class="row"> 
    <div class="col-md-12">
        <input type="text" name="marbleColour" value="" id="newMarbleColour" />
        <button onclick="talkToServer();"> Add Marble Colour</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="text" name="marbleColour" value="" id="newMarbleColour" />
        <button onclick="singleMarble();"> Pick a marble</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul id="singleMarbleList"></ul>
    </div>
</div>